/* * {
    margin: 0;
    padding: 0;
} */

@font-face {
    font-family: "Lexxenddeca Regular";
    src: url(./assets/fonts/LEXENDDECA-REGULAR.TTF);
}

html {
    font-size: 62.5%;
}
/* 1rem = 10px */

body {
    font-family: "Lexxenddeca Regular", sans-serif;
    font-size: 1.6rem;
}

/* body {
    font-size: 20px;
    color: yellow;
    background-color: burlywood;
} */
/* p {
    color: blue;
    font-size: 25px;
} */

a {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: aquamarine;
}

section {
    margin: 10px;
}

section div p {
    color: rgb(95, 19, 80);
    font-size: 4rem;
}

h1, h2 {
    color: red;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
}

/* 1rem = 16px */
.articulo {
    /* width: 50%; */
    height: 20rem;
    background-color: blanchedalmond;
}

.articulo .articulo-text {
    color: green;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;

    width: 50%;
}

.articulo-black {
    background-color: black;
}

.articulo-black .articulo-text {
    color: white;
    font-size: 3.2rem;
}


#section-nosotros {
    background-color: yellowgreen;
    line-height: 2rem;
}

#section-novedades {
    background-image: url(./assets/imgs/html-periodic-table.png);
    /* background-image: url(./assets/favicon-32x32.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#section-nosotros h2 {
    font-weight: 400;
    font-size: 4rem;
    text-align: right;
}

#div {
    background-color: blue;
}


/* Comentarios */

/* body .div-generico {
    background-color: yellow;
} */

.div-generico {
    background-color: blueviolet;
    color: red;
}